.skills-background{
    background-color: #feDB01;
    padding: 20px;
}
.single-skills{

    margin: 15px;
    padding: 0px 0px 24px 0px;
   transition-duration: 0.5s;
   transform: inherit;
 
}

.single-skills:hover{
    background-color: black;
    color: white;
    padding: 0px 0px 24px 0px;
   transform: scale(1.02);
  
}
