.footer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    
}
.footer-socials{
  
    display: flex;
    justify-content: space-between;
    margin: auto;
     
  }
  .text-color-change{
    color: #5C5C5C;

    transition: 0.5s;
    margin: 5px;
    font-size: 22px;
    
}


.footer-facebook:hover{
    color: #0e315f;
    transform: scale(1.5);
}
.footer-instagram:hover{
    color: rgb(197, 47, 72);
    transform: scale(1.5);
}
.footer-youtube:hover{
    color: brown;
    transform: scale(1.5);
}
.footer-linkdin:hover{
   color: rgb(51, 51, 114);
   transform: scale(1.5);
}
.footer-nav{
    color: #5c5c5c;
}
.facebook{
    color:#354252;
}
.link-color-change{
  
  color: #0e315f;
   
}
.footer-twitter:hover{
 color: skyblue;
 transform: scale(1.3);
}
.hover-color:hover{
   transform: scale(1.05);
   color: navy;
}



/* 

.footer-socials{
  
  display: flex;
  justify-content: space-evenly;
  margin: auto;
   
}


.tag-link{
    text-decoration: none;
    color: white;
}
.text-color-change{
    color: #5C5C5C;

    transition: 0.5s;
    
}
.footer-facebook:hover{
    color: #0e315f;
    transform: scale(1.5);
}
.footer-instagram:hover{
    color: rgb(197, 47, 72);
    transform: scale(1.5);
}
.footer-youtube:hover{
    color: brown;
    transform: scale(1.5);
}
.footer-linkdin:hover{
   color: rgb(51, 51, 114);
   transform: scale(1.5);
}
.footer-nav{
    color: #5c5c5c;
}
.facebook{
    color:#354252;
}
.link-color-change{
  
  color: #0e315f;
   
}
.footer-twitter:hover{
 color: skyblue;
 transform: scale(1.3);
}
.hover-color:hover{
   transform: scale(1.05);
   color: navy;
}


@media (max-width: 1036px){
    .footer-style{
        background-color: #141823;
        height: 750px;
    }
  
  }
  
  @media (max-width: 580px){
    .footer-style{
      
        background-color: #141823;
        height: 1200px;
       }
  }
  
  
   */