.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .contact-about{
        padding: 30px 30px;
        border: 1px solid #777D89;
        font-size: small;
        color: #777D89;
    }
    .send-message{
        text-align: left;
        padding: 5px;
    
    }